body {
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: var(--first);
    margin: 25px;
    height: fit-content;
}

:root {
    --first: #7F55B1;
    --second: #9B7EBD;
    --third: #F49BAB;
    --fourth: #FFE1E0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Animation */
    position: relative;
    animation-name: slideFromLeft;
    animation-delay: 0s;
    animation-duration: 0.7s;
}

#roll-display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
}

#roll-display img {
    width: 35px;
    height: auto;
    border-radius: 10px;
    box-shadow: 3px 3px;
}

#round-display {
    color: var(--fourth);
    font-family: "Quattrocento", serif;
    align-self: center;
    font-size: 25px;
    padding: 15px;
    background-color: var(--second);
    border-radius: 10px;
}

main {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
}

header h1 {
    color: var(--fourth);
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    margin: 25px 0px 25px;
    padding: 8px 20px;
    background-color: var(--second);
    border-radius: 10px;
}

#dice-area {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.dieOnBoard {
    width: 100px;
    height: 100px;
    box-shadow: 10px 10px;
    border-radius: 10px;
    transition: all .2s ease-in-out; 
}

.dieOnBoard:hover { 
    cursor: pointer;
    transform: scale(1.1); 
}

.selectedDie {
    width: 100px;
    height: 100px;
    box-shadow: 10px 10px;
    border-radius: 10px;
    transition: all .2s ease-in-out; 
}

.selectedDie:hover { 
    cursor: pointer;
    transform: scale(1.1); 
}

#selected-dice {
    width: 20%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#help {
    height: 30%;
    overflow: scroll;
    overflow-x: hidden;
    font-family: "Quattrocento", serif;
    color: var(--fourth);
    background-color: var(--second);
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
    font-size: large;
    /* Animation */
    position: relative;
    animation-name: slideFromLeft;
    animation-delay: 0s;
    animation-duration: 0.8s;
}

/* keyframes for slideFromLeft animation */
@keyframes slideFromLeft {
    from {right: 200px; opacity: 0;}
    to {right: 0px; opacity: 1};
}


#rollButton {
    border: none;
    color: var(--fourth);
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    background-color: var(--second);
    padding: 10px 25px 10px 25px;
    margin: 10px 5px 10px;
    border-radius: 5px;
    font-family: "Cal Sans", sans-serif;
    letter-spacing: 5px;
    width: 30%;
}

div [value='one'] {
    background-image: url('images/one.png');
}

div [value='two'] {
    background-image: url('images/two.png');
}

div [value='three'] {
    background-image: url('images/three.png');
}

div [value='four'] {
    background-image: url('images/four.png');
}

div [value='five'] {
    background-image: url('images/five.png');
}

div [value='six'] {
    background-image: url('images/six.png');
}

#scoreboard {
    text-align: center;
    width: 20%;
    height: fit-content;
    padding: 25px;
    background-color: var(--second);
    color: var(--fourth);
    font-size: large;
    /* Animation */
    position: relative;
    animation-name: slideFromRight;
    animation-delay: 0s;
    animation-duration: 0.8s;
}

/* keyframes for slideFromRight animation */
@keyframes slideFromRight {
    from {left: 200px; opacity: 0;}
    to {left: 0px; opacity: 1};
}

#scoreboard h3 {
    font-weight: bold;
    margin-top: 0px;
}

#scoreboard-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#scoreboard-section div {
    border: 1.5px solid var(--fourth);
    text-align: center;
    padding: 7px;
}

.label {
    font-family: "Quattrocento", serif;
    font-weight: 400;
    font-style: normal;
}

.scoreInput {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: small;
}

[value='invisible'] {
    opacity: 0;
}

[value='visible'] {
    opacity: 1;
}