body {
    display:flex;
    flex-direction: row;
    gap: 50px;
    background-color: antiquewhite;
    margin: 25px;
}

main {
    width: 60%;
    height: auto;
}

#dice-area {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.dieOnBoard {
    width: 100px;
    height: 100px;
    box-shadow: 10px 10px;
}

.selectedDie {
    width: 100px;
    height: 100px;
    box-shadow: 10px 10px;
}

#selected-dice {
    width: 20%;
    height: auto;
    justify-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div [value = 'one'] {
    background-image: url('images/one.png');
}

div [value = 'two'] {
    background-image: url('images/two.png');
}

div [value = 'three'] {
    background-image: url('images/three.png');
}

div [value = 'four'] {
    background-image: url('images/four.png');
}

div [value = 'five'] {
    background-image: url('images/five.png');
}

div [value = 'six'] {
    background-image: url('images/six.png');
}

#scoreboard {
    text-align: center;
    width: 20%;
}

#scoreboard-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#scoreboard-section div {
    border: 1.5px solid black;
    text-align: center;
    padding: 10px;
}