html
{
    background-color:rgb(255, 167, 35)
}

h1
{
    color:rgb(255, 144, 40);
    font-family:impact;
    text-align:center;
    text-shadow: 2px 2px rgb(255, 247, 247);
    background-color: rgb(255, 196, 114); width:1500px; height:100px; align-self: center; align-content:center;
    border: 5px solid rgb(141, 45, 0);
    border-radius: 120px;
}

h2
{
    color:rgb(255, 193, 135);
    font-family:impact;
    text-align:center;
    text-shadow: 2px 2px rgb(124, 61, 61);
    border-bottom: 5px dotted rgb(255, 241, 135);
    padding-bottom:10px;
    
}



p
{
    color:rgb(136, 71, 13);
    font-family:impact;
    text-align:center;
    text-shadow: 2px 2px rgb(255, 244, 160);
    background-color: rgb(255, 179, 92); width:600px; height:400px; align-self: center; align-content:center;
    border: 6px dotted rgb(172, 90, 2);
    border-radius: 20px;
    font-size:40px;
    box-shadow: 0 0 15px 5px #fff875;
    
}




button
{
    font-family: impact;
    color:rgb(202, 71, 0);
    background-color: rgb(255, 230, 121);
    border: 2px solid rgb(155, 67, 0);
    text-align:center;
    box-shadow: 0 0 15px 5px #fffbf6;
}
