body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 850px;
}

#canvasContainer {
  border: 3px solid #94a6b8;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#toolbar {
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#toolbar button,
#toolbar input[type="color"] {
  padding: 8px 12px;
  font-size: 15px;
  border-radius: 1px;
  border: 1=2px solid #000000;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

#toolbar button:hover {
  background-color: #d0e8ff;
  border-color: #76c8ed;
}

#toolbar input[type="color"] {
  height: 34px;
  width: 36px;
  padding: 0;
}

@media (max-width: 900px) {
  #container {
    width: 100%;
    padding: 10px;
  }

  #toolbar {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}

a {
  text-decoration: none;
  color: #000000;
}

#galleryContainer {
  position: fixed;
  top: 0;
  left: -220px;
  width: 200px;
  height: 100%;
  background-color: #f0f0f0;
  border-right: 2px solid #ccc;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  overflow-y: auto;
  transition: left 0.4s ease;
  z-index: 999;
  padding-top: 75px;
}

#galleryContainer.open {
  left: 0;
}

#gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#gallery img {
  max-width: 100%;
  border: 2px solid #aaa;
  border-radius: 6px;
}

#galleryContainer h3 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}

#toolbar button {
  width: 60px;
  padding: 4px;
  font-size: 12px;
}
